body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.song-list {
    list-style-type: none;
    padding: 0;
}

.song-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.song-info {
    margin-bottom: 10px;
}

.artist-info {
    font-size: 0.9em;
    color: #666;
}



/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f0f0f0;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*h1 {*/
/*    color: #333;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*}*/

/*li {*/
/*    background-color: #fff;*/
/*    margin-bottom: 10px;*/
/*    padding: 15px;*/
/*    border-radius: 5px;*/
/*}*/

/*li:hover {*/
/*    background-color: #f9f9f9;*/
/*}*/

/*h2 {*/
/*    color: #007bff;*/
/*}*/

/*p {*/
/*    color: #666;*/
/*}*/
